:root {
    --primary-color: var(--black);
    --secondary-color: var(--purple);
    --third-color: var(--purple);
    --white: #f6f5f3;
    --gold: var(--white);
    --black: #1a1617;
    --purple: #4948a0;
    --green: #12b45a;
    --teal: #489fa0;
    --yellow: #FDB927;
    --bg-color: var(--white);
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Lato', sans-serif;
    --blue-color: #3c365c;
    --red-color: #b21f2b;
    --light-blue-color: #76728c;
    --light-teal: #7ebbbc;
    --light-purple: #7f7ebc;
    --light-green: #59ca8b;
    --light-yellow: #fdce67;
    --light-pink: #ffd9df;
}

html, body {
    overflow-x: hidden!important;
}

.background {
    background-color: var(--primary-color);
}

.container-fluid {
    padding: 0!important;
}

.heading-color {
    color: var(--secondary-color);
    font-size: 1rem;
    text-align: center;
    margin: 0 0 10% 0;
    font-family: var(--heading-font);
}

h1.text-center.text-white.align-middle {
    font-size: 2rem;
    font-family: var(--heading-font);
    font-weight: 700;
}

.hold-anchor {
    text-align: center;
    margin: 10% 0;
}

.hold-anchor > p {
    color: var(--white);
    font-weight: 700;
    font-family: var(--heading-font);
}

.anchor-flex {
    display: flex;
    justify-content: center;
}

.anchor-tag {
    color: var(--gold);
    transition: color 0.7s ease;
    margin: 0 3%;
    font-family: var(--paragraph-font);
}

.about-anchor {
    color: var(--third-color)!important;
}

.about-anchor:hover,
    .about-anchor:focus {
        text-decoration: none;
    }

.anchor-tag:hover,
    .anchor-tag:focus {
        color: var(--third-color);
        text-decoration: none;
    }

hr {
    border-top: 1px solid var(--secondary-color)!important;
}

.menu-desktop {
    color: var(--white);
    text-align: center;
    margin: 7% 0 3% 0;
    font-family: var(--heading-font);
    font-weight: 700;
}

li.nav-item > a {
    font-family: var(--paragraph-font);
}

.nav-link.disabled {
    color: var(--third-color)!important;
}

.gold {
    color: var(--gold);
    transition: color 0.7s ease;
    font-weight: 700;
    font-family: var(--paragraph-font);
}

.gold:hover, 
    .gold:focus {
        color: var(--third-color);
    }

ul.text-center.nav.flex-column.anchor-box {
    margin: 0 0 5% 0;
}

.video > iframe {
    width: 100%;
    height: 250px;
    margin: 0 0 -10px 0;
    border: 10px solid var(--black);
}

.col-12.footer {
    font-size: .6rem;
}

/* About page */
.p-5 {
    padding: 3rem!important;
    text-align: center;
}

.about-me-content > h1 {
    margin: 0 0 8% 0;
    font-family: var(--heading-font);
}

.about-me-content > p {
    padding: 3% 0 3% 0;
    font-family: var(--paragraph-font);
}

span.pr-5.text-secondary {
    font-family: var(--paragraph-font);
    padding-right: 0rem!important;
}

/* Tablets  */
@media only screen and (min-width: 768px) {
    .video > iframe {
        height: 690px;
    }

    .pt-4, .py-4 {
        z-index: 1;
    }

    .col-12.footer {
        font-size: 1rem!important;
    }

    .about-me-content > h1 {
        margin: 0 0 2% 0;
    }

    .about-me-content > p {
        padding: 1% 0 1% 0;
    }
}

/* Footer */
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #212529;
    text-align: center;
}

a:hover {
    cursor: pointer;
}

.carousel-caption2 {
    position: absolute;
    right: 15%;
    bottom: 50%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.hidden {
    overflow: hidden;
}

.filter {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0.3;
    background-color:rgba(0,0,0,1);
}

.text-div{
    height: 10em;
    position: relative 
}

.text-div p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: var(--paragraph-font);
}

/* MODAL POSITION */
.mymodal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: table;
}

/* HOVER EFFECT */

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:100px 0 0;
padding:7px 14px;
font-family: var(--paragraph-font);
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

footer {
    height: 7vh;
}

h2.align-middle {
    font-family: var(--heading-font);
}

p.font-italic {
    font-family: var(--paragraph-font);
}

p.font-weight-light {
    font-family: var(--paragraph-font);
}

.col-12.col-md-10.p-0.bg-light {
    background-color: var(--bg-color)!important;
}

.pr-5, .px-5 {
    padding-right: 0rem!important;
}

.film1 {
    background-color: var(--yellow);
}

.film1:hover, 
    .film1:focus {
        background-color: var(--light-yellow);
        transition: color 0.7s ease;
    }

.film2 {
    background-color: var(--blue-color);
}

.film2:hover,
    .film:focus {
        background-color: var(--light-blue-color);
        transition: color 0.7s ease;
    }

.film3 {
    background-color: pink;
}

.film3:hover,
    .film3:focus {
        background-color: var(--light-pink);
    }

.film4 {
    background-color: var(--teal);
}

.film4:hover,
    .film4:focus {
        background-color: var(--light-teal);
    }

.film5 {
    background-color: var(--purple);
}

.film5:hover,
    .film5:focus {
        background-color: var(--light-purple);
    }

.film6 {
    background-color: var(--green);
}

.film6:hover,
    .film6:focus {
        background-color: var(--light-green);
    }

  /* Ipad pro */
@media only screen and (min-width: 1024px) {
    .video > iframe {
        height: 720px;
    }

    .pr-5, .px-5 {
        padding-right: 3rem!important;
    }
}

/* Large screen */
@media only screen and (min-width: 1366px) {
    .video > iframe {
        height: 820px;
    }

    .film1 {
        background-image: no-repeat center center;
    }

    .film2 {
        background-image: no-repeat center center;
    }

    .film3 {
        background-image: no-repeat center center;
    }

    .film4 {
        background-image: no-repeat center center;
    }

    .film5 {
        background-image: no-repeat center center;
    }

    .film6 {
        background-image: no-repeat center center;
    }
}

/* X-large screen */
@media only screen and (min-width: 1920px) {
    .video > iframe {
        height: 1080px;
    }
} 

// Place custom css above import bootstrap

@import '../../node_modules/bootstrap/scss/bootstrap.scss';